@-webkit-keyframes wave-right {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(10px) rotate(-10deg);
  }
  45%,
  50% {
    transform: translateX(5px) rotate(-5deg);
  }
  65%,
  75%,
  85%,
  95%,
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes wave-right {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(10px) rotate(-10deg);
  }
  45%,
  50% {
    transform: translateX(5px) rotate(-5deg);
  }
  65%,
  75%,
  85%,
  95%,
  100% {
    transform: translateX(0) rotate(0);
  }
}
@-webkit-keyframes wave-left {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-10px) rotate(10deg);
  }
  45%,
  50% {
    transform: translateX(-5px) rotate(5deg);
  }
  65%,
  75%,
  85%,
  95%,
  100% {
    transform: translateX(0) rotate(0);
  }
}
@keyframes wave-left {
  0% {
    transform: translateX(0) rotate(0);
  }
  25% {
    transform: translateX(-10px) rotate(10deg);
  }
  45%,
  50% {
    transform: translateX(-5px) rotate(5deg);
  }
  65%,
  75%,
  85%,
  95%,
  100% {
    transform: translateX(0) rotate(0);
  }
}
@-webkit-keyframes dance-antenna {
  59%,
  90%,
  0%,
  7%,
  15%,
  23%,
  31%,
  39%,
  47%,
  55% {
    background: #ffc107;
  }
  94%,
  3%,
  11%,
  19%,
  27%,
  35%,
  43%,
  51%,
  58% {
    background: #ff9800;
  }
}
@keyframes dance-antenna {
  59%,
  90%,
  0%,
  7%,
  15%,
  23%,
  31%,
  39%,
  47%,
  55% {
    background: #ffc107;
  }
  94%,
  3%,
  11%,
  19%,
  27%,
  35%,
  43%,
  51%,
  58% {
    background: #ff9800;
  }
}
@-webkit-keyframes changeto-lower {
  0%,
  30%,
  90% {
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    border-width: 0 0 0 0;
    border: 0px solid #195272;
  }
  31%,
  89% {
    background: none;
    border-radius: 0px;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(-45deg) translate(-5px, -5px);
    -webkit-transform: rotate(-45deg) translate(-5px, -5px);
  }
}

@keyframes changeto-lower {
  0%,
  30%,
  90% {
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    border-width: 0 0 0 0;
    border: 0px solid #195272;
  }
  31%,
  89% {
    background: none;
    border-radius: 0px;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(-45deg) translate(-5px, -5px);
    -webkit-transform: rotate(-45deg) translate(-5px, -5px);
  }
}
@-webkit-keyframes changeto-greater {
  0%,
  30%,
  90% {
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    border-width: 0 0 0 0;
    border: 0px solid #195272;
  }
  31%,
  89% {
    background: none;
    border-radius: 0px;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(135deg) translate(-5px, -5px);
    -webkit-transform: rotate(135deg) translate(-5px, -5px);
  }
}
@keyframes changeto-greater {
  0%,
  30%,
  90% {
    padding: 0px;
    display: inline-block;
    border-radius: 100%;
    border-width: 0 0 0 0;
    border: 0px solid #195272;
  }
  31%,
  89% {
    background: none;
    border-radius: 0px;
    border-width: 0 8px 8px 0;
    display: inline-block;
    padding: 1px;
    transform: rotate(135deg) translate(-5px, -5px);
    -webkit-transform: rotate(135deg) translate(-5px, -5px);
  }
}

@-webkit-keyframes smile {
  0%,
  25%,
  30%,
  45%,
  50% {
    background-color: #195272;
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    transform: translate(-50%, 30%);
  }
  75%,
  100% {
    background-color: #195272;
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    transform: translate(-50%, 30%);
  }
}

@keyframes smile {
  0%,
  25%,
  30%,
  45%,
  50% {
    background-color: #195272;
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    transform: translate(-50%, 30%);
  }
  75%,
  100% {
    background-color: #195272;
    -webkit-clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    clip-path: polygon(0% 30%, 100% 30%, 100% 100%, 0% 100%);
    transform: translate(-50%, 30%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-image: linear-gradient(-24deg, #61e8e1 17%, #beaff1 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
}

.toggleOn {
  background-color: #ff7f50;
  margin-top: 50px;
  padding: 10px;
  border: solid 4px #195272;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

.message {
  display: flex;
  justify-content: center;
  font-weight: 200;
  font-size: 8em;
  color: #ffffff;
  margin-top: 100px;
}

.message .text-wrapper {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.message .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

.namesLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: #ffffff;
}

.namesRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 4em;
  color: #ffffff;
}

ul {
  list-style-type: none;
}

.fade-item {
  transition: 2s all ease-in-out;
  opacity: 0;
}

.fadein {
  animation: fadeIn 0.9s 1;
  animation-fill-mode: forwards;
}

.robot {
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.robot * {
  box-sizing: border-box;
}
.robot .square-bg {
  background-color: #f25757;
  width: 350px;
  height: 350px;
  border: 8px solid #195272;
  position: relative;
}
.robot .robot-head {
  height: 250px;
  width: 250px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -50px;
  border: 8px solid #195272;
  border-radius: 85px/60px;
  background-color: #ffffff;
  z-index: 4;
}
.robot .antenna:after {
  content: "";
  position: absolute;
  top: -90px;
  height: 80px;
  width: 10px;
  left: 25%;
  transform: translateX(25%);
  background-color: #195272;
}
.robot .antenna:before {
  content: "";
  position: absolute;
  top: -120px;
  left: 25%;
  transform: translateX(-25%);
  height: 20px;
  width: 20px;
  background-color: #cedbdd;
  border: 8px solid #195272;
  border-radius: 100%;
  -webkit-animation: dance-antenna 3s infinite linear;
  animation: dance-antenna 3s infinite linear;
}
.robot .robot-face {
  height: 150px;
  width: 190px;
  background-color: #ceced5;
  position: absolute;
  top: 55px;
  left: 50%;
  transform: translateX(-50%);
  border: 8px solid #195272;
  border-radius: 45px;
}
.robot .robot-face .eyes {
  height: 30px;
  width: 30px;
  background-color: #195272;
  border-radius: 100%;
  position: absolute;
  top: 40px;
}
.robot .robot-face .eyes.left {
  left: 30px;
  -webkit-animation: changeto-lower 1.2s infinite ease-in-out;
  animation: changeto-lower 1.2s infinite ease-in-out;
  animation-play-state: paused;
}
.robot .robot-face .eyes.right {
  right: 30px;
  -webkit-animation: changeto-greater 1.2s infinite ease-in-out;
  animation: changeto-greater 1.2s infinite ease-in-out;
  animation-play-state: paused;
}
.robot .robot-face .mouth {
  height: 45px;
  width: 50px;
  border-radius: 100%;
  border: 8px solid transparent;
  border-bottom-color: #195272;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 50px;
  -webkit-animation: smile 60s 0.2s ease-in-out;
  animation: smile 60s 0.2s ease-in-out;
  animation-play-state: paused;
}
.robot .robot-ear {
  position: absolute;
  height: 110px;
  width: 25px;
  border-radius: 100%;
  background-color: #ffffff;
  border: 8px solid #195272;
  z-index: 3;
  top: 30px;
}
.robot .robot-ear.left {
  left: 15px;
}
.robot .robot-ear.right {
  right: 15px;
}
.robot .robot-body {
  height: 127px;
  width: 125px;
  border: 8px solid #195272;
  background: #ffffff;
  position: absolute;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 25px 25px 30px 30px;
}
.robot .robot-body .robot-arm {
  position: absolute;
  height: 75px;
  width: 35px;
  border-radius: 100%;
  background-color: #ffffff;
  border: 8px solid #195272;
  z-index: 3;
  top: 20px;
}
.robot .robot-body .robot-arm.left {
  left: -45px;
  -webkit-animation: wave-left 0.5s ease-in-out;
  animation: wave-left 0.5s infinite ease-in-out;
  animation-play-state: paused;
}
.robot .robot-body .robot-arm.right {
  right: -45px;
  -webkit-animation: wave-right 0.5s ease-in-out;
  animation: wave-right 0.5s infinite ease-in-out;
  animation-play-state: paused;
}
